@mixin tv-detail {
  display: inline-block;
  vertical-align: top;
}

.tv-detail-overview {
  @include tv-detail();
  max-width: 50%;
}

.tv-detail-season {
  @include tv-detail();
  max-width: 50%;
}